<h1> Album Photo </h1>

<div class="photo">
    {{#if photo}}
        {{#each photo}}
            <div class="reglage">
                <a href="/album/{{this.VIP_NUMERO}}"><img src="/images/vip/{{this.PHOTO_ADRESSE}}"/> </a></br>
            </div>
        {{/each}}
    {{/if}}
    <div class="bord">
        {{#ifCond debutAlbumPhoto '!=' 0}}
            <a href="/album/debut">
                <button type="button">Début</button>
            </a>

            <a href="/album/precedent">
                <button id="precedent">Précédent</button>
            </a>
        {{/ifCond}}

        {{#ifCond this.debutAlbumPhoto '!=' "fin" }}
            <a href="/album/suivant">
                <button id="suivant">Suivant</button>
            </a>

            <a href="/album/fin">
                <button id="fin">Fin</button>
            </a>
        {{/ifCond}}
    </div>
</div>
</br></br>

